* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Baskervville', serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: blueviolet;
}

.hero-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkmagenta;
}

.left-arrow,
.right-arrow {
    margin: 20px;
    /* transition: all .2s ease-in-out;  */
}

.left-arrow:hover,
.right-arrow:hover {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    background-color: #f9f9f9;
    /* transform: scale(1.1); */
}

.hero-image {
    width: 900px;
    height: fit-content;
    border-radius: 4px;
    margin-top: 18px;
    margin-bottom: 18px;
    background-color: chocolate;
}

#viewer {
    border-radius: 4px;
    height: 50vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

.captures-banner {
    width: 100vw;
    height: 300px;
    background-color: crimson;
}

h1 {
    text-align: center;
    margin-top: 30px;
}

.gallery {
    width: 1300px;
    max-width: 1300px;
    height: 100vh;
    background-color: darkblue;
}