* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Baskervville', serif;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-arrow,
.right-arrow {
    margin: 20px;
    /* transition: all .2s ease-in-out;  */
}

.left-arrow:hover,
.right-arrow:hover {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    background-color: #f9f9f9;
    /* transform: scale(1.1); */
}

.hero-image {
    width: 900px;
    border-radius: 4px;
    margin-top: 18px;
    margin-bottom: 18px;
}

#viewer {
    border-radius: 4px;
    /* height: 50vh; */
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

.captures-banner {
    width: 100vw;
    height: 130px;
    text-align: center;
}

h1 {
    text-align: center;
    margin-top: 16px;
}

#upload-btn {
    width: 300px;
    margin-top: 12px;
    text-align: center;
    background: none;
    border: none;
    cursor: pointer;
    background-color: #d7d7d7;
    padding: 8px 5px;
    border-radius: 4px;
}

#clear-btn {
    background: none;
    border: none;
    margin-left: 16px;
    cursor: pointer;
}

#gallery {
    width: 1100px;
    max-width: 1300px;
    height: 100vh;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

#card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
 width: 300px;
 height: auto;
 margin-top: 20px;
 margin-left: 20px;
 margin-right: 20px;
 border-radius: 4px;
}

.fa-heart {
    margin-top: 8px;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}